<div th:fragment="contacts" class="container">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6">
                <iframe src="https://yandex.by/map-widget/v1/-/CBetNSxkoB" width="560" height="400"
                        frameborder="0"></iframe>
            </div>
            <div class="col">
                <h1>О компании</h1><br/>
                Своим рождением первые системы и методы электронной коммерции обязаны появлению технологий автоматизации
                продаж и внедрению автоматизированных систем управления корпоративными ресурсами[1]. В 1960 году
                американские компании American Airlines и IBM приступают к созданию системы автоматизации процедуры
                резервирования мест на авиарейсы. Система SABRE (Semi-Automatic Business Research Environment) сделала
                воздушные перелёты более доступными для рядовых пассажиров, помогая им ориентироваться в тарифах и
                рейсах, число которых постоянно растёт. За счёт автоматизации процесса расчёта тарифов при
                резервировании мест снизилась стоимость услуг, выросли пассажироперевозки[3]. Совместный проект American
                Airlines и IBM — один из первых примеров электронной коммерции.

                Наиболее динамично рынок электронной коммерции развивается в течение последних 20 лет, что обусловлено
                стремительным ростом количества интернет-пользователей, увеличением влияния социальных сетей и других
                интерактивных онлайн-платформ, динамичным развитием систем электронных платежей и переходом ведущих
                игроков рынка к новым технологическим платформам для электронной коммерции[4] (от Web 1.0 к Web 2.0,
                далее к Web 3.0).

                По результатам исследования, суммарный оборот интернет-коммерции в 2012 году составил 350,6 млрд рублей,
                а количество интернет-магазинов за 2012 год (по отношению к 2011) увеличилось на 30 % и составило 32,5
                тыс.[5]. В 2011 году суммарный оборот интернет-магазинов оценивался в 258 млрд рублей. Рост объёма рынка
                увеличился 36 %[5]. По результатам исследования РАЭК за 2012 год, объём рынка онлайн-торговли составил
                284,96 млрд руб[6].
            </div>
        </div>
    </div>
</div>