<div th:fragment="containerExcl" class="container">
    <div xmlns:th="http://www.thymeleaf.org">

        <div class="row">
            <th:block th:each="product: ${products}">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading" th:text="${product.getName()}">BLACK FRIDAY DEAL</div>
                        <div class="panel-body"><img th:src="@{|/productImage?code=${product.getCode()}|}"
                                                     class="img-responsive">
                            <li>Код товара: <span th:utext="${product.getCode()}"></span></li>
                            <li><span class="html-editor-bold" th:utext="${product.getName()}"></span></li>
                            </li>
                            <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
                                <li>
                                    <a style="color:red;"
                                       th:href="@{|/admin/product?code=${product.getCode()}|}">Edit Product</a>
                                </li>
                            </th:block>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <span th:text="${product.getName()}"></span>
                            <span th:utext="${#numbers.formatDecimal(product.getPrice(),3,2,'COMMA')}"></span>
                            <a href="#" th:href="@{|/buyProduct?code=${product.getCode()}|}">
                                <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
                            </a></div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <br>
</div>