<head th:fragment="header" xmlns:security="http://www.springframework.org/schema/security">
    <title>Интернет-приложение ведения электронной коммерции</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <security:intercept-url pattern="/static/**" access="permitAll"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/webjars/jquery/1.11.1/jquery.min.js"></script>
</head>
