<div xmlns:th="http://www.thymeleaf.org" th:fragment="containerExcl" class="container">
    <div>
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    <h3 class="nav-header disabled"><a>Новости: </a></h3>

                    <th:block th:each="item: ${news}">
                        <a th:href="@{|/news/${item.getId()}|}"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:utext="${item.getTitle()}">List group item heading</h5>
                                <small th:text="${#dates.format(item.getCreateDate(), 'dd-MMM-yyyy')}">3 days ago
                                </small>
                            </div>
                        </a>
                    </th:block>
                </div>
            </div>
            <div class="col-sm-9">
                <h3 class="col-sm-12">Самые покупаемые товары:</h3>
                <th:block th:each="product: ${products}">
                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <div class="panel-heading" th:text="${product.getName()}">BLACK FRIDAY DEAL</div>
                            <div class="panel-body"><img th:src="@{|/productImage?code=${product.getCode()}|}"
                                                         class="img-responsive">
                                <div class="caption">
                                    <h5 th:utext="${product.getName()}"></h5>
                                    <p th:utext="${product.getDescription()}"></p>
                                </div>
                                <div class="ratings">
                                    <h5 class="pull-right"
                                        th:utext="${#numbers.formatDecimal(product.getPrice(),1,2,'COMMA')+' руб.'} "></h5>
                                    <p>
                                    </p>
                                </div>


                                <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">

                                    <a style="color:red;"
                                       th:href="@{|/admin/product?code=${product.getCode()}|}">Edit Product</a>

                                </th:block>
                            </div>
                            <div class="panel-footer">
                                <span th:text="${product.getName()}"></span>
                                <a href="#" th:href="@{|/buyProduct?code=${product.getCode()}|}">
                                    <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
                                </a></div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <br>
</div>