<div xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="products" class="container">
        <div class="row">
            <th:block th:each="product : ${products}">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading" th:text="${product.name}">BLACK FRIDAY DEAL</div>
                        <div class="panel-body"><img th:src="${product.imagePath}" class="img-responsive"
                                                     style="width:100%;height: 200px;" alt="${product.description}">
                        </div>
                        <div class="panel-footer">
                            <span th:text="${product.description}"></span>
                            <a href="#" th:href="@{/addtocart(id=${product.id})}">
                                <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
                            </a></div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>