<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/webstore :: webstore"></div>
<nav th:replace="fragments/nav :: nav"></nav>


<div class="container">
	<h1>Информация о заказе</h1>

	<div class="customer-info-container">
		<h3>Заказчик:</h3>
		<ul>
			<li>Имя: <span th:utext="${order.getUser().getFio()}"></span></li>
			<li>Email: <span th:utext="${order.getUser().getEmail()}"></span></li>
			<li>Телефон: <span th:utext="${order.getUser().getPhone()}"></span></li>
			<li>Адрес: <span th:utext="${order.getUser().getAddress()}"></span></li>
		</ul>

	</div>
	<br/>
	<div class="row">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>Продукт</th>
					<th>Количество</th>
					<th class="text-center">Цена</th>
					<th class="text-center">Сумма</th>
				</tr>
				</thead>
				<tbody>
				<span th:each="orderDetailInfo : ${order.getDetails().getProducts()}">
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#">
                                            <img class="media-object"
                                                 th:src="@{|/productImage?code=${orderDetailInfo.getKey().getCode()}|}"
                                                 style="width: 72px; height: 72px;"> </a>
                                        <div class="media-body" style="padding-left: 5%;">
                                            <h4 class="media-heading"
                                                th:utext="${orderDetailInfo.getKey().getName()}"></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                   <span th:utext="${orderDetailInfo.getValue()}"></span>
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong th:utext="${#numbers.formatDecimal(orderDetailInfo.getKey().getPrice(),3,2,'COMMA')}">$1.11</strong>
                                </td>
                                <td class="col-sm-1 col-md-1 text-center"><strong th:utext="${#numbers.formatDecimal((orderDetailInfo.getKey().getPrice() * orderDetailInfo.getValue()),3,2,'COMMA')}">$11.11</strong>
                                </td>
                            </tr>
                        </span>
				<tr>
					<td></td>
					<td></td>
					<td><h3>Стоимость</h3></td>
					<td class="text-right"><h3>
						<strong th:utext="${#numbers.formatDecimal(order.getAmount(),3,2,'COMMA')}">$31.53</strong>
					</h3></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<br><br>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
