<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/webstore :: webstore"></div>
<nav th:replace="fragments/nav :: nav"></nav>


<div class="container">
    <div class="page-title">Список заказов</div>
    <div>Всех заказов: <span th:utext="${orders.size()}"></span></div>
    <table border="1" style="width:100%">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>ФИО</th>
            <th>Адрес</th>
            <th>Email</th>
            <th>Сумма</th>
            <th>Просмотр</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:utext="${order.id}"></td>
            <td th:utext="${#dates.format(order.orderDate,'dd-MM-yyyy HH:mm')}"></td>
            <td th:utext="${order.getCustomerName()}"></td>
            <td th:utext="${order.customerAddress}"></td>
            <td th:utext="${order.customerEmail}"></td>
            <td style="color:red;" th:utext="${#numbers.formatDecimal(order.amount,3,2,'COMMA')}">
            </td>
            <td><a th:href="@{|/user/order?orderId=${order.id}|}">Просмотр</a></td>
        </tr>
    </table>
   <!-- <div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
        <th:block th:each="page: ${paginationResult.navigationPages}">
            <a th:if="${page != -1}" class="nav-item"
               th:href="@{|/admin/orderList?page=${page}|}" th:utext="${page}"></a>

            <span th:if="${page == -1}" class="nav-item"> ... </span>
        </th:block>
    </div>-->

</div>
<br><br>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
