<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/webstore :: webstore"></div>
<nav th:replace="fragments/nav :: nav"></nav>


<div class="container">
	<h3 class="page-title">Страница заказов пользователя</h3>
	<div class="table-responsive">
		<table class="table">
			<caption>Кол-во заказов: <span th:utext="${orders.size()}"></span></caption>
			<thead>
			<tr>
				<th scope="col">Номер</th>
				<th scope="col">Дата</th>
				<th scope="col">ФИО</th>
				<th scope="col">Адрес</th>
				<th scope="col">Email</th>
				<th scope="col">Сумма</th>
				<th scope="col">Просмотр</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="order : ${orders}">
				<td scope="row" th:utext="${order.id}"></td>
				<td th:utext="${#dates.format(order.orderDate,'dd-MM-yyyy HH:mm')}"></td>
				<td th:utext="${order.getCustomerName()}"></td>
				<td th:utext="${order.customerAddress}"></td>
				<td th:utext="${order.customerEmail}"></td>
				<td style="color:red;" th:utext="${#numbers.formatDecimal(order.amount,3,2,'COMMA')}"></td>
				<td><a th:href="@{|/user/order?orderId=${order.id}|}">Просмотр</a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<!-- <div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
		 <th:block th:each="page: ${paginationResult.navigationPages}">
			 <a th:if="${page != -1}" class="nav-item"
				th:href="@{|/admin/orderList?page=${page}|}" th:utext="${page}"></a>

			 <span th:if="${page == -1}" class="nav-item"> ... </span>
		 </th:block>
	 </div>-->

</div>
<br><br>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
