<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/webstore :: webstore"></div>
<nav th:replace="fragments/nav :: nav"></nav>

<div th:fragment="products" class="container">
    <div class="row">
        <th:block th:each="prodInfo : ${paginationProducts.list}">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" th:text="${prodInfo.name}">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img th:src="@{|/productImage?code=${prodInfo.code}|}"
                                                 class="img-responsive">
                        Код товара: <span th:utext="${prodInfo.code}"></span>
                        <h2 th:utext="${prodInfo.description}"></h2>
                        <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
                            <a style="color:red;"
                               th:href="@{|/admin/product?code=${prodInfo.code}|}">Edit Product</a>
                        </th:block>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        Цена:
                        <span th:utext="${#numbers.formatDecimal(prodInfo.price,3,2,'COMMA')}"></span> бел. руб.
                        <a href="#" th:href="@{|/buyProduct?code=${prodInfo.code}|}">
                            <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
                        </a></div>
                </div>
            </div>
        </th:block>
    </div>
    <br><br>
    <nav aria-label="Page navigation" class="text-center" th:if="${paginationProducts.totalPages > 1}">
        <ul class="pagination">
            <th:block th:each="page : ${paginationProducts.navigationPages}">
                <li class="page-item"><a class="page-link" th:href="@{|/products?page=${page}|}" th:if="${page != -1}"
                                         th:utext="${page}"></a></li>
            </th:block>
        </ul>
    </nav>
</div>

<br><br>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
