<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/webstore :: webstore"></div>
<nav th:replace="fragments/nav :: nav"></nav>

<div th:fragment="products" class="container">
    <div class="row">
        <th:block th:if="${products.size() == 0}">
            <h4>В данной категории пока нет товаров. Сделайте первый заказ.</h4>
        </th:block>
        <th:block th:each="product: ${products}">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading" th:text="${product.getName()}">BLACK FRIDAY DEAL</div>
                    <div class="panel-body"><img th:src="@{|/productImage?code=${product.getCode()}|}"
                                                 class="img-responsive">
                        <div class="caption">
                            <h4 th:utext="${product.getName()}"></h4>
                            <p th:utext="${product.getDescription()}"></p>
                        </div>
                        <div class="ratings">
                            <h4 class="pull-right"
                                th:utext="${#numbers.formatDecimal(product.getPrice(),1,2,'COMMA')+' руб.'} "></h4>
                            <p>
                            <div class="star-ratings-css">
                                <div class="star-ratings-css-top"
                                     th:style="'width:' +@{${ratings.get(product.getCode())}}+'%'">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                            </p>
                        </div>


                        <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">

                            <a style="color:red;"
                               th:href="@{|/admin/product?code=${product.getCode()}|}">Edit Product</a>

                        </th:block>
                    </div>
                    <div class="panel-footer">
                        <span th:text="${product.getName()}"></span>
                        <a href="#" th:href="@{|/buyProduct?code=${product.getCode()}|}">
                            <span class="glyphicon glyphicon-shopping-cart pull-right"></span>
                        </a></div>
                </div>
            </div>
        </th:block>
    </div>
    <br><br>
</div>
<nav aria-label="Page navigation" class="text-center" th:if="${pageProducts.getTotalPages() > 0}">
    <ul class="pagination">
        <li class="page-item"><a class="page-link"
                                 th:href="@{|/${parameterUrl}/${pageProducts.getPageable().getPageNumber()}|}"
                                 th:if="${pageProducts.getPageable().getPageNumber()>0}">Предыдущая</a></li>
        <th:block th:each="page:${#numbers.sequence(1,pageProducts.getTotalPages(),1)} ">
            <li class="page-item" th:classappend="${pageProducts.getPageable().getPageNumber()+1 == page} ? active: ''">
                <a class="page-link" th:href="@{|/${parameterUrl}/${page}|}" th:if="${page != -1}"
                   th:utext="${page}"></a></li>
        </th:block>
        <li class="page-item"><a class="page-link"
                                 th:href="@{|/${parameterUrl}/${pageProducts.getPageable().getPageNumber()+2}|}"
                                 th:if="${pageProducts.getPageable().getPageNumber()+1 != pageProducts.getTotalPages()}">Следующая</a>
        </li>

    </ul>
</nav>
<br><br>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
